# Scrapy related packages
w3lib==1.13.0
queuelib==1.4.2
Scrapy==1.0.5

# Portia
slybot==0.12.1
scrapely==0.12.0

# Scrapinghub
hubstorage==0.23.5
dateparser==0.3.5
scrapinghub==1.7.0
scrapylib==1.7.0
scrapyjs==0.1.1

# scrapy plugins
scrapy-crawlera==1.1.0
scrapy-dotpersistence==0.2.0
scrapy-pagestorage==0.1.0

# additional plugins
monkeylearn==0.2.5

# dependencies for spidermon egg
six==1.9.0
Jinja2==2.7.3
premailer==2.9.2
jsonschema==2.5.1
schematics==1.0.4
slackclient==1.0.0
python-slugify==1.2.1

# Scrapinghub Kumo contract
scrapinghub-entrypoint-scrapy==0.8.10
